.ai-page-content {
	padding: 5px;
	background-color: white;
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	float: left;
	width: 100%;
	clear: both;
	display: block;
}

html, body, p, input, button, select, legend, label {
	font-size: 14px;
	color: #333333;
}

.ai-page-frame {
	background-color: #d1d0c9;
	margin-bottom: 5px;
	padding: 3px;
	float: left;
	width: 100%;
}

.ai-page-frame-header {
	color: #413c32;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.ai-html-form {
	float: left;
	width: 100%;
}

.ai-html-form-header, .ai-html-form-footer {
	background-color: #f4f4f2;
	padding: 5px;
	text-align: center;
}

.ai-html-form table {
	width: 100%;
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
	background: #F7F7F7;
    padding: 10px;
    float: left;
}

.ai-html-form table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.ai-html-form table td, .ai-html-form table th {
	display: table-cell;
	vertical-align: inherit;
	text-align: left;
	padding: 5px;
}

.ai-html-form input[type=text], input[type=password], input[type=file] {
	border-radius: 3px;
	padding: 5px;
	margin: 0;
	border: 1px solid #aaa;
	font-size: 14px;
}

.ai-html-form input.hasDatepicker {
	width: 105px;
}

.ai-html-form fieldset {
	border: 2px solid #d1d0c9;
	margin: 3px 0 3px 0;
	padding: 10px;
}

.ai-html-form fieldset legend {
	color: #333333;
	font-weight: bold;
}

.ai-html-form-content {
	background-color: white;
	padding: 5px;
	float: left;
	width: 100%;
}

.ai-html-form-content .ai-html-row {
	padding: 10px;
	display: inline;
	width: 100%;
	float: left;
}

.ai-html-form-content .ai-html-row .submitButton{
	padding: 10px;
	}

.ai-html-form-content .ai-html-row .ai-html-row-col2 {
	width: 49%;
    float: left;
    margin-right: 5px;
}

#footer {
	float: left;
}

.panel-heading {
	padding: 10px;
}

.value {
	font-size: 15px;
}

.panel-body {
	padding: 10px;
}