/** Custom css for AIJAR*/

body {
    max-width: 90%;
}

header #session-location {
    position: absolute;
    display: none;
    top: 60px;
    left: 35%;
    background: white;
    border: 2px solid #006056;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 853px;
    font-size: 0.8em;
    z-index: 1;
}

/* Fix the top alignment of the label from the fields */
form label, .form label {
    margin-top: 0px;
}

.patient-header.dead {
    background: #B71515;
}

