/** Custom css for AIJAR*/

body {
    max-width: 90%;
}

header #session-location {
    position: absolute;
    display: none;
    top: 60px;
    left: 35%;
    background: white;
    border: 2px solid #006056;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 853px;
    font-size: 0.8em;
    z-index: 1;
}

/* Increase spacing between login location buttons on the login page */
form#login-form ul#sessionLocation.select li {
    margin: 5px 5px 0 0;
}

/* Fix the top alignment of the label from the fields */
form label, .form label {
    margin-top: 0px;
}


.patient-header.dead {
    background: #B71515;
}

/* Hide the no diagnosis link on the visit details */
#visits-list span.menu-title {
    display: none;
}

/* Hide the start visit button on the visits page */
#noVisitShowVisitCreationDialog {
    display:none;
}

/* Hide the attachments link in the Overall actions */
#attachments\.attachments\.overallActions\.default, .info-section .icon-share-alt {
	display: none;
}

/* Color for the HTML Form values displayed in the view  */
span.value {
    color: blue;
    font-weight: bold;
}

/* Align the radio buttons to be placed horizontally on forms */
.horizontal input[type="checkbox"], .horizontal input[type="radio"], .horizontal input[type="text"] {
    float: none;
    display: inline-block;
}

.horizontal label {
    display: inline-block;
}

.horizontal span.append-to-value {
    display: inline-block;
    margin-left: 10px;
}

/* A set of css definitions to be used across the data entry forms*/
form#htmlform div.ai-page-frame label, form#htmlform .form label {
	float: left;
	padding: 0px 10px 0 0;
}

form#htmlform div.ai-page-frame input[type="checkbox"], form#htmlform div.ai-page-frame input[type="radio"], form#htmlform div.ai-page-frame .form input[type="checkbox"], form#htmlform div.ai-page-frame .form input[type="radio"] {
	margin: 10px 10px;
}

form#htmlform div.ai-page-frame input[disabled="disabled"], form#htmlform div.ai-page-frame input[readonly="readonly"], form#htmlform div.ai-page-frame select[disabled="disabled"], form#htmlform div.ai-page-frame input.locked,form#htmlform div.ai-page-frame select.locked {
	background-color:#dad9d9 !important;
}

form#htmlform div.ai-page-frame table tbody td {
	background: #FFFFFF;
	color: #404040;
	padding: 0px 5px;
}

form#htmlform div.ai-page-frame table tfoot td {
    border: 1px solid #C7C7C7 !important;
    background-color: #C7C7C7 !important;
}

form#htmlform div.ai-page-frame select, div.ai-page-frame .form select {
	min-width: 0px;
}

form#htmlform div.ai-page-frame input, form#htmlform div.ai-page-frame select, form#htmlform div.ai-page-frame textarea, form#htmlform div.ai-page-frame form ul.select, form#htmlform .form input, form#htmlform div.ai-page-frame .form select, form#htmlform div.ai-page-frame .form textarea, form#htmlform div.ai-page-frame .form ul.select {
	background-color: #FBFBFB;
	border: 1px solid #CEC9C9;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	min-width: 50%;
}

form#htmlform div.ai-page-frame input[type=checkbox], form#htmlform div.ai-page-frame input[type=radio] {
	min-width: 0 !important;
	float:left;
}

form#htmlform div.ai-page-frame textarea {
	float:left;
}

form#htmlform div.ai-page-frame fieldset {
	width: 98%;
	margin: 0 0 10px 0;
	padding: 5px;
}

form#htmlform div.ai-page-frame fieldset legend {
	font-weight: 600;
}

form#htmlform div.ai-page-frame fieldset table {
	width: 100%;
	margin: 0px;
}

form#htmlform div.ai-page-frame table th, form#htmlform div.ai-page-frame table td {
	border: 1px solid #C7C7C7;
	min-width: 10%;
	width: 25%;
	vertical-align: top;
}

form#htmlform div.ai-page-frame fieldset table td label {
	padding: 5px 0px 0 0;
	float: left;
}

form#htmlform div.ai-page-frame fieldset input[type=text], form#htmlform div.ai-page-frame fieldset select {
	float: left;
	clear: left;
	max-width: 50%;
	width: 100%;
}

form#htmlform div.ai-page-frame fieldset span.has-comment input[type=text] {
	clear: none;
}

form#htmlform div.ai-page-frame fieldset span.has-comment label {
	clear: none;
    padding: 0 5px 0 5px;
}

form#htmlform div.ai-page-frame fieldset span.has-comment label:first-of-type {
	clear: none;
}

form#htmlform div.ai-page-frame fieldset span.has-comment.fit-one-line input[type="text"]{
	min-width: 20% !important;
	width: 30% !important;
}

form#htmlform div.ai-page-frame fieldset span.date-and-time input[type=text] {
	min-width: 40% !important;
}

form#htmlform div.ai-page-frame fieldset span.date-and-time select {
	min-width: 20% !important;
	clear:left;
	clear:none;
	width: 60px;
	min-width: 65px;
	float: left;
}

form#htmlform div.ai-page-frame fieldset span.required {
	float: left;
}

form#htmlform div.ai-page-frame fieldset span.date-and-time label {
	clear:left;
	float: left;
}

form#htmlform div.ai-page-frame fieldset span.date-and-time select.hfe-hours {
	clear:left;
}

form#htmlform div.ai-page-frame span.error,form#htmlform div.ai-page-frame span.error1, label.error {
	float: left;
	border: 2px dotted #fb0303;
	color: #fb0303;
	font-size: 0.7em ;
}

form#htmlform div.ai-page-frame fieldset input.error {
	background-color: #ffffff;
	border: 1px solid #0808fd;
	border-radius: 0;
}

form#htmlform div.ai-page-frame input.submitButton {
	min-width: 200px !important;
}

form#htmlform div.ai-page-frame span.obs-field.horizontal-layout-options input:first-child {
    clear: left;
    float: left;
}

form#htmlform div.ai-page-frame span.obs-field.vertical-layout-options input {
    clear: left;
    float: left;
}

@media (max-width: 1400px) {
	form#htmlform div.ai-page-frame input[type="checkbox"], form#htmlform div.ai-page-frame input[type="radio"], form#htmlform .form input[type="checkbox"], form#htmlform .form input[type="radio"] {
	    margin: 8px 5px;
	}

	form#htmlform div.ai-page-frame fieldset, form#htmlform .form fieldset {
	    min-width: 0;
	    margin: 0 auto;
	    display: inline-block;
	    padding: 15px;
	}

	form#htmlform div.ai-page-frame fieldset legend, form#htmlform .form fieldset legend {
		font-weight:600;
		font-size: 0.8rem;
	}

	form#htmlform div.ai-page-frame fieldset label {
		padding: 5px 10px 0 0;
		float: left;
		font-size: 0.7rem;
	}
	
	form#htmlform div.ai-page-frame fieldset select {
		max-width: 95%;
		width: 100%
	}

	form#htmlform div.ai-page-frame input, form#htmlform div.ai-page-frame select, form#htmlform div.ai-page-frame textarea, form#htmlform div.ai-page-frame ul.select, form#htmlform .form input, form#htmlform .form select, form#htmlform .form textarea, form#htmlform .form ul.select {
	    font-size: 0.8rem;
	}
}

/* Force all dashboard widgets to be capitalized */
.dashboard .info-header  h3 {
	text-transform: uppercase;
}

table th, table td {
	padding: 4px 4px;
}

/** Clear any floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}